<div class="silk-card border-primary">
     <div class="silk-card">
            <div class="silk-card-title">
                <div class="silk-head">
                    <div class="silk-pre">
                        <h4> بنك التسوية</h4>
                    </div>
                </div>
                <md-divider></md-divider>
            </div>
            <div class="silk-card-content">
               <form >
                <div class="form-group row">
		    <label for="example-search-input" class="col-2 col-form-label">الإسم التجاري للمنشأه</label>
		    <div class="col-4">
                <input class="form-control" type="text" placeholder="123456789">
                <p-calendar [(ngModel)]="date1"></p-calendar> {{date1|date}}
		    </div>
		    <label for="example-email-input" class="col-2 col-form-label">رقم السجل التجاري</label>
		    <div class="col-4">
			<input class="form-control" type="text" placeholder="11623" id="example-email-input">
		    </div>
                </div>
                <div class="form-group row">
		    <label for="example-url-input" class="col-2 col-form-label">رأس مال الشركة </label>
		    <div class="col-4">
			<input class="form-control" type="text" placeholder="50.000" id="example-url-input">
		    </div>
		    <label for="example-tel-input" class="col-2 col-form-label">بنك التسوية (آيبان)</label>
		    <div class="col-4">
			<input class="form-control" type="text" placeholder="288852" id="example-tel-input">
		    </div>
                </div>
                <div class="form-group row">
		    <div class="col-12">
                        <button class="waves-effect waves-light btn gradient-45deg-light-blue-cyan box-shadow" type="submit">ارسال للموافق</button>
		    </div>
                </div>
	       </form>
            </div>
        </div>
</div>
<md-icon>edit</md-icon> 
<md-icon>cancel</md-icon> 
<md-icon>add_circle</md-icon> 
<md-icon>search</md-icon> 


<div (click)="toggle()" id="bt" class="toggle-SL">
   <md-icon>{{arraw}}</md-icon> {{buttonName}}
</div>

<ng-container *ngIf="show">
    <div style="margin: 0 auto;text-align: left;">
        <div>
            <label>Name:</label>
            <div><input id="tbname" name="yourname" /></div>
        </div>
        <div>
            <label>Email Address:</label>
            <div><input name="email" id="email" /></div></div>
        <div>
            <label>Additional Information (optional):</label>
            <div><textarea rows="5" cols="46"></textarea></div>
        </div>
    </div>
</ng-container>


{{ "Order" | translate }}


