<div class="silk-card border-primary">
	<div class="silk-card">
		<div class="silk-card-title">
			<div class="silk-head">
				<div class="silk-pre">
					<h4>اطراف </h4>
					<a routerLink="/person"><button type="button" class="btn waves-effect waves-light gradient-45deg-green-teal gradient-shadow">اضافة مستخدم جديد</button> </a>
					<md-divider></md-divider>
				</div>
			</div>
			<div class="silk-card-content">											
			    <form>					
				 <div class="form-group row">
				  <label for="example-search-input" class="col-2 col-form-label">كود الطرف </label>
				  <div class="col-4">
					  <input class="form-control" type="text">
				  </div>				     
				  <label for="example-search-input" class="col-2 col-form-label">نوع الطرف</label>
				  <div class="col-4">
					  <select class="form-control">
					      <option></option>
					  </select>
				  </div>
				  </div>
			     </form>
			</div>
			<div class="form-group row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-2" widget>
					<div class="silk-card-content widget-body">
						<table class="table">
							<thead class="thead-default">
								<tr>
									<th>
									     كود الطرف
									</th>
									<th>
										نوع الطرف
									</th>
									<th>
								</th>
									<th>
									</th>
								</tr>
							</thead>
							<tbody>

								<tr>
									<th scope="row">105350</th>
									<td>شركة</td>
									<td> <a routerLink="/orderManagement/update-order"><button type="button" class="btn waves-effect waves-light gradient-45deg-green-teal gradient-shadow"> تعديل</button ></a> </td>	

									<td>
										<button type="button" class="btn waves-effect waves-light gradient-45deg-amber-amber gradient-shadow">حذف</button>
									</td>
								</tr>
								<tr>
									<th scope="row">2820</th>
									<td>مؤسسة</td>
									<td> <a routerLink="/orderManagement/update-order"><button type="button" class="btn waves-effect waves-light gradient-45deg-green-teal gradient-shadow"> تعديل</button ></a> </td>	

									<td>
										<button type="button" class="btn waves-effect waves-light gradient-45deg-amber-amber gradient-shadow">حذف</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>