<div id="print-section">
  <div class="container" width="800px" id="invoice" >
    <div class="row">
      <div class="col-12 heading">
        INVOICE
      </div>
    </div>
    <div class="row branding">
      <div class="col-8">
        <div class="invoice-number-container">
	    <label for="invoice-number">Invoice #</label><input type="text" class="ng-pristine ng-valid ng-touched" placeholder="10" id="invoice-number" ng-model="invoice.invoice_number" />
        </div>
      </div>
      <div class="col-4">
	  <div class=" logo-changer">
	    <img [src]="url" height="200"> <br/>
            <input type='file' (change)="onSelectFile($event)"/>
	  </div>
      </div>
    </div>
     <div class="row">

    <div class="row infos">
      <div class="col-6">
        <div class="input-container"><input value="Metaware Labs" type="text" ng-model="invoice.customer_info.name"/></div>
        <div class="input-container"><input value="www.metawarelabs.com" type="text" ng-model="invoice.customer_info.web_link"/></div>
        <div class="input-container"><input value="123 Yonge Street" type="text" ng-model="invoice.customer_info.address1"/></div>
        <div class="input-container"><input value="Toronto, ON, Canada" type="text" ng-model="invoice.customer_info.address2"/></div>
        <div class="input-container"><input value="M5S 1B6" type="text" ng-model="invoice.customer_info.postal"/></div>
        <div class="input-container" data-ng-hide='printMode'>
<select ng-model="currencySymbol" ng-options="currency.symbol as currency.name for currency in availableCurrencies" class="ng-valid ng-dirty ng-valid-parse ng-touched"><option value="string:£" label="British Pound (£)">British Pound (£)</option><option value="string:CAD $ " label="Canadian Dollar ($)">Canadian Dollar ($)</option><option value="string:€" label="Euro (€)">Euro (€)</option><option value="string:₹" label="Indian Rupee (₹)">Indian Rupee (₹)</option><option value="string:kr " label="Norwegian krone (kr)">Norwegian krone (kr)</option><option value="string:$" label="US Dollar ($)" selected="selected">US Dollar ($)</option></select>
        </div>
      </div>
      <div class="col-6 right">
        <div class="input-container"><input value="Mr. John Doe" type="text" ng-model="invoice.company_info.name"/></div>
        <div class="input-container"><input value="John Doe Designs Inc." type="text" ng-model="invoice.company_info.web_link"/></div>
        <div class="input-container"><input value="1 Infinite Loop" type="text" ng-model="invoice.company_info.address1"/></div>
        <div class="input-container"><input value="Cupertino, California, US" type="text" ng-model="invoice.company_info.address2"/></div>
        <div class="input-container"><input value="90210" type="text" ng-model="invoice.company_info.postal"/></div>
      </div>
    </div>
    <div class="items-table">
      <div class="row header">
        <div class="col-1">&nbsp;</div>
        <div class="col-5">Description</div>
        <div class="col-2">Quantity</div>
        <div class="col-2">Cost </div>
        <div class="col-2 text-right">Total</div>
      </div>
      <div class="row invoice-item" ng-repeat="item in invoice.items" ng-animate="'slide-down'">
        <div class="col-1 remove-item-container">
          <a href ng-hide="printMode" ng-click="removeItem(item)" class="btn btn-danger">[X]</a>
        </div>
        <div class="col-5 input-container">
          <input ng-model="item.description" placeholder="Description" />
        </div>
        <div class="col-2 input-container">
          <input ng-model="item.qty" value="1" size="4" ng-required ng-validate="integer" placeholder="Quantity" />
        </div>
        <div class="col-2 input-container">
          <input ng-model="item.cost" value="0.00" ng-required ng-validate="number" size="6" placeholder="Cost" />
        </div>
        <div class="col-2 text-right input-container">
         
        </div>
      </div>
      <div class="row invoice-item">
        <div class="col-12 add-item-container" ng-hide="printMode">
          <a class="btn btn-primary" href ng-click="addItem()" >[+]</a>
        </div>
      </div>
      <div class="row">
        <div class="col-10 text-right">Sub Total</div>
        <div class="col-2 text-right"></div>
      </div>
      <div class="row">
        <div class="col-10 text-right">Tax(%): <input ng-model="invoice.tax" ng-validate="number" style="width:43px"></div>
        <div class="col-2 text-right"></div>
      </div>
      <div class="row">
        <div class="col-10 text-right">Grand Total:</div>
        <div class="col-2 text-right"></div>
      </div>
    </div>
    <div class="row noPrint actions">
      <a href="#" class="btn btn-primary" ng-show="printMode" (click)="print()">Print</a>
      <a href="#" class="btn btn-primary" ng-click="clearLocalStorage()">Reset</a>
      <a href="#" class="btn btn-primary" ng-hide="printMode" ng-click="printMode = true;">Turn On Print Mode</a>
      <a href="#" class="btn btn-primary" ng-show="printMode" ng-click="printMode = false;">Turn Off Print Mode</a>
    </div>
  </div>
</div>
  </div>