<div class="silk-card border-primary">
	<div class="silk-card">
		<div class="silk-card-title">
			<div class="silk-head">
				<div class="silk-pre">
					<h4>استعلام صلاحيات المستخدمين</h4>
					<a routerLink="/security/add-roleGroup">
						<button type="button" class="btn waves-effect waves-light gradient-45deg-green-teal gradient-shadow">اضافة صلاحيات جديدة</button>
					</a>

					<md-divider>

					</md-divider>
				</div>
			</div>
			<div class="silk-card-content">
				<!-- <button type="button" class="btn waves-effect waves-light gradient-45deg-amber-amber gradient-shadow" >مشاهدة</button> -->


				<form [formGroup]="form" (ngSubmit)="onSubmit()">

					<div class="form-group row">
						<label for="example-search-input" class="col-2 col-form-label">
							رمز صلاحية المسخدم
						</label>
						<div class="col-4">
							<input class="form-control" [formControl]="form.controls['roleGroupId']"  type="text" placeholder="123">
						</div>
                        <label for="example-url-input" class="col-2 col-form-label">الوصف </label>
						<div class="col-4">
							<input class="form-control" type="text" [formControl]="form.controls['description']"  placeholder="CUSTOMER_FULL" id="example-url-input">
						</div>
					</div>
			
					<div class="form-group row">
						<div class="col-12">
							<button class="waves-effect waves-light btn gradient-45deg-light-blue-cyan box-shadow" type="submit">
								بحث
							</button>

						</div>
					</div>

				</form>
			</div>

			<div class="form-group row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-2" widget>
					<div class="silk-card-content widget-body">
						<table class="table">
							<thead class="thead-default">
								<tr>
									<th>
										رقم 
									</th>
									<th>
										 الوصف
									</th>
									<th>
											
										</th>
									<th>
										
									</th>
								</tr>
							</thead>
							<tbody *ngFor="let roleGroup of roleGroupsList">
								<tr>
									<th scope="row">{{roleGroup.roleGroupId}}</th>
									<td>{{roleGroup.description}}</td>
									<td>
											<button type="button" class="btn waves-effect waves-light gradient-45deg-amber-amber gradient-shadow" (click)="addMenuRole(roleGroup.roleGroupId)">اضافة القوائم</button>
										</td>
                                    <td>
										<button type="button" class="btn waves-effect waves-light gradient-45deg-amber-amber gradient-shadow" (click)="delete(roleGroup.roleGroupId)">حذف</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>